body{
    background-color: black;
    color: white;
}
.meuNome{
    font-size: 40px;
    font-family: Helvetica, sans-serif; 
    text-align: center; 
}
.status{
    font-size: 25px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.descricao{
    font-size: 18px;
    font-style: italic;
    font-family: sans-serif;
}
#habilidade-text{
    font-size: 25px;
    font-weight: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#habilidadesqueorgulho{
    font-size: 22px;
}

/* Seu Portfólio Web deve ser estilizado usando as informações a seguir:

Defina fontes diferentes para o seu nome e para a descrição que você criou;

Defina uma cor base de background do seu Portfólio Web;

Altere o estilo das tags que você usou para destacar algumas informações, como sua nacionalidade e a cidade/estado onde mora;

Altere o tamanho dos elementos da lista de habilidades que você criou. Lembre-se de utilizar classes em cada um dos elementos. */
